# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.angular/cache/15.2.2/angular-webpack/d6fb31e111c5e8d20a728b1253f0590b49c0ad91/0.pack
.angular/cache/15.2.2/angular-webpack/d6fb31e111c5e8d20a728b1253f0590b49c0ad91/1.pack
.angular/cache/15.2.2/angular-webpack/d6fb31e111c5e8d20a728b1253f0590b49c0ad91/2.pack
.angular/cache/15.2.2/angular-webpack/d6fb31e111c5e8d20a728b1253f0590b49c0ad91/0.pack
.angular/cache/15.2.2/angular-webpack/d6fb31e111c5e8d20a728b1253f0590b49c0ad91/index.pack
.angular/cache/15.2.2/angular-webpack/d6fb31e111c5e8d20a728b1253f0590b49c0ad91/index.pack.old
.angular/cache/15.2.2/babel-webpack/5039f0155cd4a9963af52515eac86e979bee34e10b7a299c8a5af871ac6c64d7.json
