body {
    background: black;
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("./assets/fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Gilroy-Light;
    src: url("./assets/fonts/Gilroy-Light.otf") format("opentype");
}